# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables
.env

# IDE / Editor specific
.vscode/
.idea/

# Chainlit
.chainlit/
